---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="balegre." description="personal portfolio.">
    <section class="max-w-6xl mx-auto" aria-labelledby="hero-title">
        <h1 id="hero-title" class="font-serif text-7xl leading-[1.05]">
            <span class="inline-flex items-center gap-4"> Hey, i'm Brian</span>
        </h1>
    </section>
</BaseLayout>
